* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
nav {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.5rem;
  color: #121c28;
}
nav img {
  width: auto;
  max-height: 60px;
}
#logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #121c28;
  text-decoration: none;
}
#logo:hover {
  opacity: 0.9;
}
#header-navigation-links ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
#header-navigation-links a {
  color: #121c28;
  text-decoration: none;
  font-weight: bolder;
}
#header-navigation-links a:hover {
  color: #1a293a;
}
main {
  width: 100%;
  height: calc(100vh - 15vh);
  display: flex;
  padding: 1.5rem 2.5rem;
  align-items: center;
  color: #121c28;
}
.hero-content {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
}
.content {
  width: 40vw;
  padding-top: 3rem;
}
.hero-content h1 {
  font-size: 4.2rem;
  line-height: 4rem;
}
.hero-content p {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #1a293a;
}
.hero-content a {
  border: none;
  padding: 1rem;
  border-radius: 40px;
  width: 10rem;
  background-color: #121c28;
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.hero-content button:hover {
  background-color: #1a293a;
  cursor: pointer;
}
.hero-image {
  flex: 1;
  height: 100%;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}
